html, body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f9f9f9
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

p {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    font-size: 24px;
    margin: 0;
}
